<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Profile Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
   <main class="bg-zinc-800 min-h-screen">
    <h1>Your Profile</h1>
    <div class="pfp">
        <img src="" alt="Upload Image">
    </div>
    <div class="user__bio">
        <h2>Username : <span><%= user.username %></span> </h2>
        <h2>Email : <span><%= user.age %></span> </h2>
    </div>
   </main>
</body>
</html>