<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main class="bg-zinc-800 min-h-screen flex justify-center items-center">
      <form
        action="/signup"
        method="post"
        class="w-[500px] max-sm:w-[350px] tracking-wide flex flex-col gap-5 h-fit"
      >
        <% if (message) { %>
        <h1 class="err-text text-red-500"><%=message%></h1>
        <% } %>
        <div class="username__container flex items-center">
          <h3 class="w-[110px] text-white text-nowrap text-start">Username</h3>
          <span class="text-white mr-1">:</span>
          <input
            class="rounded-md px-3 py-2 w-full"
            type="text"
            name="username"
            placeholder="username"
          />
        </div>
        <div class="password__container flex items-center">
          <h3 class="w-[110px] text-white text-nowrap text-start">Password</h3>
          <span class="text-white mr-1">:</span>
          <input
            class="rounded-md px-3 py-2 w-full"
            type="text"
            name="password"
            placeholder="****************"
          />
        </div>
        <div class="verify__button flex flex-col text-center gap-2">
          <button
            class="px-5 py-2 text-white bg-purple-500 rounded-md drop-shadow-sm w-full"
            type="submit"
          >
            Sign Up
          </button>
          <a class="bg-blue-500 rounded-md px-3 py-2 text-white" href="/signin">Looking for Sign in?</a>
        </div>
      </form>
    </main>
  </body>
  <script>
    setTimeout(() => {
        document.querySelector(".err-text").textContent = "";
    }, 3000)
  </script>
</html>
